<hr />

<div class="row">
    <form role="form" novalidate angular-validator name="addPlotForm" angular-validator-submit="Register()">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="PlotID">PlotID</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newPlot.PlotID" name="PlotID" id="PlotID" placeholder="PlotID"
                           validate-on="blur" required required-message="'ID is required'">

                </div>
            </div>
            <div class="form-group">
                <label for="PlotArea">Plot Area</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newPlot.PlotArea" name="PlotArea" id="PlotArea" placeholder="Plot Area"
                           validate-on="blur" required required-message="'Plot Area is required'">
                </div>
            </div>
            <div class="form-group">
                <label for="PlotDetails">Plot Details</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newPlot.PlotDetails" id="PlotDetails" name="PlotDetails" placeholder="Plot Details"
                           validate-on="blur" required required-message="'Email is required'">
                </div>
            </div>
            
            <input type="submit" name="submit" id="submit" value="Plot Submit" class="btn btn-info pull-right">
        </div>
    </form>
    
</div>